
.title {
    background-color: #0E7699;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.title h1{
    font-family: 'Lobster';
    color: #FFFFFF;
}

.title, .content {
    padding-left: 15px;
}

.date {
    color: #0E7699;
}

.navbar-custom {
    background-color: #000000;
    border-color: #000000;
    margin-left: -20px;
    margin-right: -20px;
}

p {
    color:black;
}

